<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.flowerspringboot.mapper.FlowersMapper">

    <resultMap id="BaseResultMap" type="org.example.flowerspringboot.pojo.Flowers">
            <id property="fid" column="fid" jdbcType="INTEGER"/>
            <result property="fname" column="fname" jdbcType="VARCHAR"/>
            <result property="fprice" column="fprice" jdbcType="FLOAT"/>
            <result property="fnum" column="fnum" jdbcType="INTEGER"/>
            <result property="fintroduction" column="fintroduction" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        fid,fname,fprice,
        fnum,fintroduction
    </sql>
</mapper>
