<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.flowerspringboot.mapper.PurchaseViewMapper">

    <resultMap id="BaseResultMap" type="org.example.flowerspringboot.pojo.PurchaseView">
            <result property="fid" column="fid" jdbcType="INTEGER"/>
            <result property="totalprice" column="totalprice" jdbcType="DOUBLE"/>
            <result property="totalnum" column="totalnum" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        fid,totalprice,totalnum
    </sql>
</mapper>
