<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.flowerspringboot.mapper.ReordersMapper">

    <resultMap id="BaseResultMap" type="org.example.flowerspringboot.pojo.Reorders">
            <id property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="ordid" column="ordid" jdbcType="INTEGER"/>
            <result property="rprice" column="rprice" jdbcType="DOUBLE"/>
            <result property="rstate" column="rstate" jdbcType="INTEGER"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="rtime" column="rtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,ordid,rprice,
        rstate,reason,rtime
    </sql>
    <select id="myList" resultType="org.example.flowerspringboot.pojo.Reorders">
        select reorders.* from reorders left join orderstable
            on reorders.ordid=orderstable.ordid
        <where>
            <if test="bid!=null">
                and bid=#{bid}
            </if>
            <if test="rstate!=null">
                and rstate=#{rstate}
            </if>
        </where>
    </select>
</mapper>
